#csv-logo{
	margin-top: 22vh;
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
#csv-logo img{
	height: 100%
}
#upload-csv{
	width: 16vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center
}
#input-file{
	background-color: lightgrey;
	padding: 5px;
}
#input-file:focus{
	outline: none;
}
#upload-button{
	margin: 10px;
}
#graph-display{
	width: min-content;
	margin: 5vh auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
}
#graph-display:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}